body, html {
	margin: 0;
	padding: 0;
	position: relative;
}

#page {
	background: grey;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	position: relative;

	#car {
		margin-top: 20px;
		position: absolute;
		height: 110px;
		width: 150px;

		.carBody {
			position: absolute;
			height: 50px;
			width: 150px;
			background: blue;
			top: 40px;
		}

		.cab {
			position: absolute;
			height: 40px;
			width: 50px;
			background: blue;
			top: 0px;
			left: 50px;

			.glass {
				position: absolute;
				top: 10px;
				left: 20px;
				background: Dodgerblue;
				height: 20px;
				width: 30px;
			}
		}

		.wheel {
			position: absolute;
			background: black;
			border-radius: 20px;
			height: 40px;
			width: 40px;
			top: 70px;
			left: 20px;

			&.secondWheel {
				left: 90px;
			}

			.hub {
				position: absolute;
				background: grey;
				border-radius: 10px;
				height: 20px;
				width: 20px;
				top: 10px;
				left: 10px;
			}
		}
	}

	#roadContainer { 
		width: 100vw;
		height: 100vh;
		overflow: hidden;

		.fullBar {
			float: left;
			height: 100%;

			.upperBar {
				background: sandybrown;
			}
			.lowerBar {
				position: relative;
				background: sandybrown;
			}
		}
	}
}

#overlayLayer {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	display: none;

	#banner {
		text-align: center;

		#gameOver {
			font-family: "Arial Black";
			font-size: 64px;
			font-weight: bold;
			color: #ff0400;
		}

		#timeReadOut {
			font-family: "Arial Black";
			font-size: 36px;
			color: #26cc16;
		}

		#pixelsTravelled {
			color: lime;
		}

		#hiScore {
			font-family: "Arial Black";
			font-size: 16px;
			color: #3c130a;
		}
	}
}
